on:
  push:
  workflow_dispatch:
  schedule:
  - cron: '0 0 * * *'
jobs:
  build:
    name: Build image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    env:
      IMAGE_REGISTRY: ghcr.io/${{ github.repository_owner }}
    steps:
    - name: Log in to ghcr.io
      uses: redhat-actions/podman-login@v1
      with:
        username: ${{ github.actor }}
        password: ${{ github.token }}
        registry: ${{ env.IMAGE_REGISTRY }}
    - uses: actions/checkout@v4
    - name: Buildah Action
      id: build_image
      uses: redhat-actions/buildah-build@v2
      with:
        image: devcontainer
        tags: latest ${{ github.sha }}
        oci: true
        extra-args: |
          --cache-from
          ${{ env.IMAGE_REGISTRY }}
          --cache-to
          ${{ env.IMAGE_REGISTRY }}
        containerfiles: |
          ./Dockerfile
    - name: Push To GHCR
      uses: redhat-actions/push-to-registry@v2
      with:
        image: ${{ steps.build_image.outputs.image }}
        tags: ${{ steps.build_image.outputs.tags }}
        registry: ${{ env.IMAGE_REGISTRY }}
        # username: ${{ github.actor }}
        # password: ${{ github.token }}
